@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>RateMySDSU.com (RMP) is a review site, founded in May 2018 by Marquise Smart, a computer engineering student at San Diego State.  RateMySDSU is a site which allows college students to assign ratings to classes they have taken at San Diego State University.</p>
